{
  "extends": "cleanjs",
  "parserOptions": {
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
          "modules": true,
          "experimentalObjectRestSpread": true
      }
  },
  "rules": {
    "no-undef": 2
  }
}
